<h1>About</h1>

<!-- er + tab (this will NOT display in the browser) -->
<%  %>

<!-- pe + tab (this will display in the browser) -->
<%=  %>

<!-- cmd + / (this comment out your ruby) -->

<%#  %>
<%= link_to "Home", root_path  %>
