<div class="container">
  <h1>Welcome</h1>
  <p>This site has nothing really</p>

  <!-- lt + tab (builds a link_to) -->
  <%#= link_to "What's diplayed", prefix_path  %>
  <%= link_to "Go to the about page plz", about_path, class: 'btn btn-primary'  %>
  <%= link_to "Contact", contact_path, class: 'btn btn-info'  %>
</div>
